.App {
  width: 100vw;
  height: 100vh;
}

.grid-controller__container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 60px;

  z-index: 999;
}

.grid-controller__list {
}

.grid-controller__item {
  margin-bottom: 12px;
}

.grid-controller__checkbox {
}

.grid-controller__text {
  margin-left: 8px;
  color: white;
}
